# Xcode
DerivedData/
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build products
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# OS
.DS_Store
